body {
    margin: 0px;
    padding: 0px;
    transition: 1s;

    background-color: rgb(5, 10, 30);
}

#relogio {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: center;
}

#data {
    margin: 3%;
    font-family: 'Calibri';
    font-size: 4vh;
    font-weight: 400;
    color: white;
}
@media only screen and (max-width: 767px) {
    #data{
        font-size: 2vh;
    }
    #btnOnOff {
        margin-top: 4% !important;
        font-size: 1vh;
        height: 25px;
    }
}

#hora {
    background-color:	#008B8B;

    font-family: 'Arial';
    font-size: 6vh;
    color: white;

    padding: 5%;
}

#minuto {
    background-color:	#008B8B;

    font-family: 'Arial';
    font-size: 6vh;
    color: white;

    padding: 5%;
}

#segundo {
    background-color: 	#DC143C;

    font-family: 'Arial';
    font-size: 6vh;
    color: white;

    padding: 5%;
}

.legenda {
    background-color:	#008B8B;

    font-family: 'Arial';
    font-size: 1vh;
    color: white;

    padding: 5%;

    
}
.legendaS {
    background-color: 	#DC143C;

    font-family: 'Arial';
    font-size: 1vh;
    color: white;

    padding: 5%;
}

#prevTempo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    text-align: center;
}

.boxPrev {
    background-color: 	#191970;
    color: white;  
    padding: 3%;
}




